@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Barlow Condensed', sans-serif; */
font-family: 'Playfair Display', serif;
}

body{
    background-color: #bbc6fa;
}
.quote-box{
    background-color: #fff;
    width: 700px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%,50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0,0,0,0.15);
    margin-top: -150px;
}


.quote-box h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;

}

.quote-box blockquote{
    font-size: 25px;
    min-height: 110px;
}

.quote-box blockquote::before ,.quote-box blockquote::after{
    content: '"';
}

.quote-box span{
    display: block;
    float: right;
    margin: 10px;
    position: relative;
}

.quote-box span::before{
    content: '';
    width: 20px;
    height: 2px;
    position: absolute;
    background: rgb(23,124,229);
    top: 50%;
    left: -30px;

}


.quote-box div{
    width: 100%;
    margin-top: 0%;
    display: flex;
    justify-content: center;
    /* border: black solid 2px; */
    margin-bottom: 30px;

}

.quote-box button{
    background-color: rgb(23,124,229);
    color: #fff;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;

}

.quote-box button img{
    width: 20px;
    margin-right: 10px;
}

.quote-box button:nth-child(2){
    background-color: transparent;
    color: #333;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    .quote-box {
        width: 90%;
        left: 50%;
        transform: translate(-50%, 0);
    }}


    /* By @Raaz-009 */